Ch01_SetYourselfUpForEasierCompilation/erf/erf
Ch01_SetYourselfUpForEasierCompilation/erf/erf.dSYM/
Ch01_SetYourselfUpForEasierCompilation/hello/hello
Ch01_SetYourselfUpForEasierCompilation/hello/hello.dSYM/
Ch01_SetYourselfUpForEasierCompilation/getenv/getenv
Ch01_SetYourselfUpForEasierCompilation/getenv/getenv.dSYM/
Ch01_SetYourselfUpForEasierCompilation/gsl_erf/gsl_erf
Ch01_SetYourselfUpForEasierCompilation/gsl_erf/gsl_erf.dSYM/
Ch02_TestDebugDocument/stddev_bugged 
Ch02_TestDebugDocument/stddev_bugged.dSYM/
Ch02_TestDebugDocument/glist/glist
Ch02_TestDebugDocument/glist/glist.dSYM/
